.promotion {
  height: 556px;
  margin-top: 75px;
  background-color: #f7f7f7;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &-wrapper {
    width: 707px;
    height: 707px;
    background-color: $secondary-color;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-title {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    color: $main-color;
    margin-bottom: 2%;
  }

  &-block {
    width: 40%;
    margin: 0 auto;
    margin-top: 2%;
  }

  &-subtitle {
    font-weight: 900;
    font-size: 23px;
    text-align: center;
    color: $main-color;
  }

  &-text {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: $main-color;
    margin-top: 2%;
  }

  &-separator {
    width: 10%;
    height: 0;
    opacity: 0.4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 3%;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $selected;
  color: $secondary-color;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 30px;
  margin-top: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}