.reviews {
  width: 100%;
  margin-top: 44px;
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &-card {
    max-width: 370px;
    margin: 20px 5px;
  }
  &-img {
    width: 100%;
    object-fit: cover;
  }
  &-title {
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 2px;
    color: $main-color;
    margin-top: 20px;
  }
  &-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $main-color;
    margin-top: 11px;
  }
}
